header {
    position:relative;
    padding: 15px 10px 0px 10px;
    background-color: #222;
}

header .sidebar-toggle {
    position:absolute;
    left:10px;
    top:10px;
    border: 0;
    background-color:inherit;
    border-radius:50%;
    width:20px;
    height: 20px;
    cursor: pointer;
}

header .sidebar-toggle:hover {
    background-color:#555;
}