body {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    padding: 15px 10px 0px 10px;
    background-color: #222;
    font-family: 'Oswald';
}

header h1 {
    margin-left: 80px;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: white;
    position:relative;
    top: -4px;
    letter-spacing:0.7px;
}

header h1 emphasis {
    color: #CC3620;
}

header .sidebar-toggle {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 0;
    background-color: inherit;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .sidebar-toggle:hover {
    background-color: #444;
    color: white;
}