body {
  padding: 0;
  margin: 0;
  color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 555px) {
  .short-title {
    display: none;
  }

  header h1 .emphasis:not(:first-child) {
    color: white;
  }
}

.emphasis {
  color: #9b0c0c;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 15px 10px 0px 10px;
  background-color: #111;
  font-family: 'Oswald';
  white-space: nowrap;
}

header h1 {
  position: relative;
  top: -4px;
  margin-left: 80px;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 0.7px;
  font-size: 2.875em;
}

header h1 .emphasis {
  color: #af2510;
}

header .sidebar-toggle {
  display: flex;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0;
  background-color: inherit;
  border-radius: 50%;
  cursor: pointer;
  color: inherit;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

header .sidebar-toggle:hover {
  background-color: #222;
  color: white;
}

.sidebar-active .sidebar-toggle .fa-bars {
  display: none;
}
.sidebar-toggle .fa-times {
  display: none;
}
.sidebar-active .sidebar-toggle .fa-times {
  display: block;
}

.sidebar table {
  color: white;
}

.sidebar table .umbrella-logo {
  height: 20px;
  width: 20px;
}

.dot {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
